.canvas_overlay, .canvas_overlay.hidden{
  --transform-opacity-time: 50ms;
  -webkit-transition: opacity var(--transform-opacity-time) cubic-bezier(0.250, 0.250, 0.750, 0.750);
  -moz-transition: opacity var(--transform-opacity-time) cubic-bezier(0.250, 0.250, 0.750, 0.750);
  -o-transition: opacity var(--transform-opacity-time) cubic-bezier(0.250, 0.250, 0.750, 0.750);
  transition: opacity var(--transform-opacity-time) cubic-bezier(0.250, 0.250, 0.750, 0.750);
}

.canvas_overlay {
  opacity: 1;
  background: rgba(255,255,255,.95);
  position: absolute;
  padding: .25em;
  box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  margin: .25em;

}

.canvas_overlay.hidden{
  opacity: 0;
}