.renderer-stats-container{
  line-height: 0;
  position: absolute;
  bottom: 1em;
  left: 1em;
  cursor: pointer;
  opacity: 0.9;
  z-index: 1;
  border: solid 1px rgba(0, 0, 0, 0.2);
  height: max-content;
  
}

.renderer-stats-container-hidden{
  display: none;
}

.renderer-stats-container-stacked-y{
  width: min-content;
}

.renderer-stats-container-stacked-x{
  width: max-content;
}

.renderer-stats-panel-hidden{
  display: none;
}