.material_drawer-grid{
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.material_drawer-container{
  overflow-y: scroll;
  grid-column-start: 2;
  grid-column-end: 3;
  height: 100%;
  margin: 1em;
}

.material_drawer-surface-container{
  overflow-y: scroll;
  grid-column-start: 1;
  grid-column-end: 2;
  height: 100%;
  margin: 1em;
}

.material_drawer-list{
  /* border: solid 1px rgba(0,0,0,.1); */
  box-shadow: inset 0px 0px 17px 0px rgba(0,0,0,0.2);
  overflow-y: scroll;
  height: 25vh;
  margin: 0 1em;
  cursor: pointer;
  padding: 0 .75em;
}

.material_drawer-searchbar-input_container{
    border: none;
  border-bottom: solid 1px #00000045;
}

.material_drawer-searchbar-container{
  margin: 0 1em;
  margin-bottom: 0.25em;
  display: flex;
  
}

.material_drawer-searchbar-input{
  border: none;
  /* border-bottom: solid 1px #00000045; */

  font-family: "Lato";
  font-size: 14px;
  width: 50%;
  min-width: 200px;
  height: 2em;
  padding-left: 1em;
}


.material_drawer-list_item-container{
  font-size: 12px;
  line-height: 1.5em;
  display: flex;
  justify-content: space-between;
}
.material_drawer-list_item-container:hover{
  background: rgba(167, 198, 230, 0.15);
}
.material_drawer-list_item-material{
  cursor: text;
  display: flex;
  justify-self: right;
}
.material_drawer-list_item-absorption{
  background: rgb(0,0,0);
  width: 100px;
  display: flex;
}


.material_drawer-list_item-selected{
  font-size: 12px;
  display: flex;
  line-height: 1.5em;
  justify-content: space-between;
  background: rgba(167, 198, 230, 0.375);
}
.material_drawer-list_item-selected:hover{
}

.material_drawer-list_item-selected:active, .material_drawer-list_item-container:active{
  background: rgba(110, 172, 233, 0.375);
}


.search-gadient{
  display: flex;
  justify-content: right;
}

.material-sliders{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.material_drawer-search_icon{
  margin-top: auto;
  margin-bottom: auto;
}

.material_drawer-list_item-tags{
  display: inline-flex;
  justify-content: right;
}

.material_drawer-list_item-tag{
  display: flex;
  margin: 0 .5em;
}
.material_drawer-list_item-right{
  display: flex;
  justify-content: right;
}

.show-more{
  margin-left: 1em;
}

.material_drawer-display-container{
  margin-left: 1em;
  display: grid;
  
}
.material_drawer-display-material_name{
  font-size: 16px;
  margin-top: .5em;
  margin-bottom: 0;
  font-weight: 600;
}
.material_drawer-display-material_material{
  font-size: 11px;
  display: flex;
  justify-content: space-between;
}
.material_drawer-display-material_absorption{
  display: grid;
  margin: .5em 0;
  grid-template-columns: repeat(10, auto);
  grid-template-rows: auto auto;
}
.material_drawer-display-material_absorption-header{
  display: grid;
  grid-row-start: 1;
  grid-row-end: 2;
}
.material_drawer-display-material_absorption-value{
  display: grid;
  grid-row-start: 2;
  grid-row-end: 3;
}

.material_drawer-display-assign_button{
  position: absolute;
  bottom: 1em;
  left: 2em;
}