.react-tabs {
  -webkit-tap-highlight-color: transparent;
}

.react-tabs__tab-list {
  border-bottom: 1px solid #aaa;
  margin: 0 0 10px;
  padding: 0.25em 0 0 0;
  background-color: rgba(0, 0, 0, 0.05);
}

.react-tabs__tab {
  font-family: "Lato";
  color: #182026;
  display: inline-block;
  border: 1px solid transparent;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 3px 6px;
  cursor: pointer;
}

.react-tabs__tab--selected {
  background: #fff;
  border-color: #aaa;
  color: black;
  border-radius: 5px 5px 0 0;
}

.react-tabs__tab--disabled {
  color: GrayText;
  cursor: default;
}

.react-tabs__tab:focus {
  /* box-shadow: 0 0 5px hsl(208, 99%, 50%); */
  /* border-color: hsl(208, 99%, 50%); */
  outline: none;
}

.react-tabs__tab:focus:after {
  content: "";
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
  background: #fff;
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
}

.parameter-config-panel > .panel-content{
  margin: 0 0 .25em 0;
}
.tab-text-container{
  display: flex;
  align-items: flex-end;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.parameter-config-tabs-container > .bp3-tab-list {
  /* justify-content: space-evenly; */
  background: #f4f4f4;
  padding-left: 1em;
}
.parameter-config-tabs-container > .bp3-tab-list > .bp3-tab {
  /* flex: 1; */
}

.bp3-tab-panel {
  margin-top: 1em;
}