
body {
  font-size: 9pt;
}
button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 9pt;
  line-height: 1.15;
  margin: 0;
}
.bp3-tag{
  padding: 1px 3px;
}
.bp3-menu-item{
  padding: 0px 7px;
}
.bp3-button{
  min-height: unset;
}
