/* @import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap); */
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic);
.App {
  font-family: "Lato", sans-serif;
  text-align: center;
}
body {
  margin: 0;
  background: #f5f8fa;
}
.unselectable {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

* {
  font-family: "Lato";
}

#renderer-canvas{
  width: 100% !important;
  height: 100% !important;
}

.muted-text{
    font-size: 10px;
    color: #D1D2D3;
    font-style: italic;
    align-self: center;
    font-weight: 100;
}