.tree-item-label-container {
	display: flex;
	justify-content: space-between;
}

.tree-item-label-label {
	text-transform: none;
	/* line-height: 1.28581; */
	letter-spacing: 0;
	font-size: 9pt;
	font-weight: 300;
	color: #182026;
	font-family: "Lato";
		display: flex;
	justify-content: left;
}
.tree-item-label-meta {
	text-transform: capitalize;
	font-style: italic;
	/* line-height: 1.28581; */
	letter-spacing: 0;
	font-size: 9pt;
	font-weight: 300;
	color: #18202657;
	margin-left: 1em;
	font-family: "Lato";
}
.tree-item-label-icon{
	margin-right: .25em;
	margin-left: -.25em;
	display: flex;
  align-items: center;
}
.tree-view-root{	
	height: 264;
	flex-grow: 1;
}

.MuiSvgIcon-root.MuiSvgIcon-fontSizeInherit {
	font-size: 14px;
}

.MuiTreeItem-iconContainer{
	width: unset;
}

.MuiTreeItem-group{
	margin-left: 14px !important;
}

.tree-item-selected{
	background-color: #bdbdbd;
}