
.property-row-button {
  margin-left: 0.5em;
  margin-right: 0.5em;
    border-radius: .25rem;
  margin-top: .125em;
  margin-bottom: .125em; 
  width: 100%;
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
  user-select: none;
  border: 1px solid transparent;
}

.property-row-button:hover {
    color: #212529;
    background-color: #e2e6ea;
    border-color: #dae0e5;
}

.property-row-button:active{
    color: #212529;
    background-color: #dae0e5;
    border-color: #d3d9df;
}

.property-row-button-container {
  display: flex;
  justify-content: space-around;
}